<!DOCTYPE html>
<html lang="en" ng-app="add">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <script src="/angular/angular.min.js"></script>
    <script>
    var test
        (function (window) {
            window.angular.module('add', [])
                .controller('addCtrl', function ($scope, $http) {
                    $scope.doAdd = function () {
                        var data = JSON.stringify({
                            first_name: $scope.first_name,
                            last_name: $scope.last_name,
                            email: $scope.email,
                            hashed_password: $scope.hashed_password
                        });
                        $http.post("/employees", data)
                            .then(function (res) {
                                if(res.data.success) {
                                  test = res.data.success
                                    $scope.msg = '添加成功';
                                } else {
                                    $scope.msg = '添加失败';
                                }
                            }, function (err) {
                                $scope.msg = err.data;
                            });
                    }
                });
        })(window);
    </script>
</head>
<body ng-controller="addCtrl">
<div align="center">
    <a href="/employees.html">home</a>
</div>
<table align="center" border="1">
    <tr>
        <td><label for="first_name">first_name:</label></td>
        <td><input id="first_name" ng-model="first_name"/></td>
    </tr>
    <tr>
        <td><label for="last_name">last_name:</label></td>
        <td><input type="last_name" id="last_name" ng-model="last_name"/></td>
    </tr>
    <tr>
        <td><label for="email">email:</label></td>
        <td><input type="email" id="email" ng-model="email"/></td>
    </tr>
    <tr>
        <td><label for="hashed_password">hashed_password:</label></td>
        <td><input type="hashed_password" id="hashed_password" ng-model="hashed_password"/></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" value="add" ng-click="doAdd()"/></td>
    </tr>
</table>
<div align="center">{{msg}}</div>
</body>
</html>
